.DS_Store
.DS_Store?
target
latex/description.log
latex/description.out
latex/description.pdf
latex/description.synctex.gz
src/test/resources/output_image_processing/*
.idea
.classpath
.factorypath
.project
.settings
